:root {
	--borders: #585a83;
	--text: #eee;
	--bg-primary: #eee;
	--container-bg: rgba(0,0,0, 0.8);
	--accent: #bc45bc;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
.lds-ring {
	display: inline-block;
	position: absolute;
	width: 64px;
	height: 64px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid #343434;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.folder-container-wrapper {
	display: inline-flex;
}
.file-container-wrapper {
	position: relative;
	top: -12px;
}
.folder-container, .file-container {
	flex-direction: column;
	display: inline-flex;
	margin: 14px 24px;
	cursor: pointer;
}
.folder-container i {
	 font-size: 56px;
	 margin: 0;
	 transition: 0.2s color ease-out;
 }
i.file-icon {
	font-size: 40px;
	margin-bottom: 10px;
}
.folder-container:hover i, .folder-container:active i, .folder-container:focus i {
	color: var(--accent);
}
.folder-container:hover p, .folder-container:active p, .folder-container:focus p {
	color: var(--accent);
}
.folder-checkbox-label{
	display:inline-block;
	width: 100%;
	height: 100%;
	cursor:pointer
}

input[type=checkbox]{
	display:none;
}
input[type=checkbox]:checked + .folder-checkbox-label{
	color: var(--accent);
}


.folder-container p {
	transition: 0.2s color ease-out;
	font-size: 13px;
	margin: 0;
}
body {
	font-family: 'Roboto Condensed', sans-serif;
	color: var(--text);
	font-size: 16px;
}
body p {
	font-size: 2em;
}
.react-contextmenu {
	background-color: var(--bg-primary);
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
	color: #373a3c;
	font-size: 16px;
	margin: 2px 0 0;
	min-width: 160px;
	outline: none;
	opacity: 0;
	padding: 5px 0;
	pointer-events: none;
	text-align: left;
	transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
	opacity: 1;
	pointer-events: auto;
	z-index: 9999;
}

.react-contextmenu-item {
	background: 0 0;
	border: 0;
	color: #373a3c;
	cursor: pointer;
	font-weight: 400;
	line-height: 1.5;
	padding: 3px 20px;
	text-align: inherit;
	white-space: nowrap;
	font-size: 13px;
	transition: 0.2s background-color ease-out;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
	color: #fff;
	background-color: #4d4d4d;
	border-color: #4d4d4d;
	text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
	background-color: transparent;
	border-color: rgba(0,0,0,.15);
	color: #878a8c;
}

.react-contextmenu-item--divider {
	border-bottom: 1px solid rgba(0,0,0,.15);
	cursor: inherit;
	margin-bottom: 3px;
	padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
	background-color: transparent;
	border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
	padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
	content: "▶";
	display: inline-block;
	position: absolute;
	right: 7px;
}

.example-multiple-targets::after {
	content: attr(data-count);
	display: block;
}
.menu-item {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}
.menu-item i {
	font-size: 18px;
}
.container-wrapper {
	background-image: url('../images/bg4.jpg');
	background-size: cover;
}
.container {
	display: flex;
	max-width: 1000px;
	min-height: 600px;
	margin: 20px auto;
}
.main-container {
	width: calc(100% - 225px);
	text-align: center;
	display: inline-block;
	border-radius: 6px;
	background-color: var(--container-bg);
	margin: 0 10px;
	padding: 20px;
}
.aside-container {
	width: 225px;
	display: inline-flex;
	flex-direction: column;
	border-radius: 6px;
	background-color: var(--container-bg);
	margin: 0 10px;
	padding: 20px;

}
.aside-container .button, .warning-popup .button {
	font-size: 14px;
	display: inline-flex;
	padding: 12px;
	align-items: center;
	cursor: pointer;
	border-radius: 6px;
	margin: 6px 0;
	transition: 0.2s background-color ease-out;
}
.aside-container p.button:hover, .warning-popup p.button:hover {
	background-color: var(--accent);

}
.material-icons {
	margin-right: 6px;
}
.details-container {
	border-top: 1px solid #171717;
	margin-top: 15px;
	padding-top: 10px;
}
.warning-popup {
	position: absolute;
	max-width: 250px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.8);
	border: 1px solid var(--borders);
	padding: 20px 40px;
	border-radius: 8px;
	min-width: 286px;
	z-index: 999;
}
.warning-popup p {
	font-size: 15px
}
.warning-popup img {
	max-width: 285px;
	margin: 10px 0;
}
input {
	background-color: transparent;
	font-size: 16px;
	outline: none;
	border: none;
	border-bottom: 1px solid var(--accent);
	color: var(--accent);
	margin-bottom: 12px;
	width: 100%;
	padding: 10px 0;
}
select {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: transparent;
	color: var(--accent);
	padding: 6px;
	border-color: var(--borders);
}
select:focus {
	outline-color:  var(--accent);
}
option {
	background: black;
}
option:hover, option:active {
	background: var(--accent);
}
.breadcrumbs {
	max-width: 965px;
	font-size: 20px;
	margin: 0 auto;
}
.breadcrumbs h2 {
	display: inline-block;
}
.breadcrumbs i {
	padding: 4px;
	margin: 10px;
	position: relative;
	top: 2px;
	cursor: pointer;
	border-radius: 6px;
	transition: 0.2s background-color ease-out;
}
.breadcrumbs i:hover {
	background-color: var(--accent);
}
.two-btn-container {
	display: flex;
	justify-content: space-around;
}
.center-img {
	display: inline-flex;
	justify-content: center;
	width: 100%;
	max-height: 200px;
}