.lds-ring {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid #343434;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #343434 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.folder-container-wrapper {
	display: inline-flex;
}
.folder-container {
	flex-direction: column;
	display: inline-flex;
	margin: 14px 24px;
	cursor: pointer;
}
.folder-container img {
	width: 70px;
}
.folder-container:hover img {
	filter: brightness(55%);
}
.folder-container p {
	font-size: 13px;
	margin: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #eee;
	font-size: 14px;
}
body p {
	font-size: 2em;
}


.react-contextmenu {
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
	color: #373a3c;
	font-size: 16px;
	margin: 2px 0 0;
	min-width: 160px;
	outline: none;
	opacity: 0;
	padding: 5px 0;
	pointer-events: none;
	text-align: left;
	transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
	opacity: 1;
	pointer-events: auto;
	z-index: 9999;
}

.react-contextmenu-item {
	background: 0 0;
	border: 0;
	color: #373a3c;
	cursor: pointer;
	font-weight: 400;
	line-height: 1.5;
	padding: 3px 20px;
	text-align: inherit;
	white-space: nowrap;
	font-size: 13px;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
	color: #fff;
	background-color: #4d4d4d;
	border-color: #4d4d4d;
	text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
	background-color: transparent;
	border-color: rgba(0,0,0,.15);
	color: #878a8c;
}

.react-contextmenu-item--divider {
	border-bottom: 1px solid rgba(0,0,0,.15);
	cursor: inherit;
	margin-bottom: 3px;
	padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
	background-color: transparent;
	border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
	padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
	content: "▶";
	display: inline-block;
	position: absolute;
	right: 7px;
}

.example-multiple-targets::after {
	content: attr(data-count);
	display: block;
}
.main-container {
	width: calc(100% - 200px);
	text-align: center;
	display: inline-block;
}
.aside-container {
	width: 200px;
	display: inline-block;
}
.aside-container p {
	font-size: 13px;
}